<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
  <div class="container">

    <header class="display-4 my-4 header" style="text-align: center;">
      TRANG QUẢN TRỊ ADMIN
    </header>
    <!-- Phan tab menu -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#DanhSachSP" role="tab" data-toggle="tab">Danh sách sản phẩm</a>
      </li>

    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
      <!--Danh sách sản phẩm -->
      <div role="tabpanel" class="tab-pane  in active" id="DanhSachSP">
        <div class="row content">
          <div class="col-md-8">
            <!-- BEGIN BUTTOM THÊM MỚI -->
            <button id="btnThemSP" class="btn btn-success" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus mr-1"></i>
              Thêm Mới
            </button>
            <!-- END BUTTON THÊM MỚI -->
          </div>
          <div class="col-md-4">
            <!-- BEGIN TÌM KIẾM -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nhập từ khóa" aria-label="Recipient's username"
                aria-describedby="basic-addon2" id="searchName" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <!-- END TÌM KIẾM -->
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="tblSanPham" id="tblSanPham">
          <!-- BEGIN TABLE SẢN PHẨM -->
          <table class="table table-hover table-striped">
            <thead style="text-align: center;">
              <th>ID</th>
              <th>TÊN SẢN PHẨM</th>
              <th>Hình Ảnh</th>
              <th>Giá</th>
              <th>Thông số camera trước</th>
              <th>Thông số camera sau</th>
              <th>Thông số màn hình</th>
              <th>Mô tả</th>
              <th>Loại</th>
            </thead>
            <tbody id="tbodyTableList" style="width:100% ;">
            </tbody>
          </table>
          <!-- END TABLE SẢN PHẨM -->
        </div>
        <br />
      </div>
      <!-- Kết thúc danh sách sản phẩm -->
    </div>

    <!--KetThuc Tabmenu-->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Quản lý sản phẩm</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" placeholder="Nhập tên" class="form-control" id="TenSP">
                    <span id="spanTen" class="text-danger"></span>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="text" class="form-control" placeholder="Nhập hình ảnh" id="Hinhanh">
                    <span id="spanHinhanh" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Giá sản phẩm</label>
                    <input type="number" class="form-control" placeholder="Nhập giá" id="GiaSP">
                    <span id="spanGia" class="text-danger"></span>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Màn hình</label>
                    <input type="text" class="form-control" placeholder="Nhập thông số" id="Manhinh">
                    <span id="spanManhinh" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Thông số camera sau</label>
                    <input type="text" class="form-control" placeholder="Nhập thông số" id="Thongsosau">
                    <span id="spanThongsosau" class="text-danger"></span>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Thông số camera trước</label>
                    <input type="text" class="form-control" placeholder="Nhập thông số" id="Thongsotruoc">
                    <span id="spanThongsotruoc" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <!-- <label>Mô tả sản phẩm</label> -->
                    <textarea cols="60" rows="10" placeholder="Nhập mô tả sản phẩm" id="Mota"></textarea>
                    <span id="spanMota" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label for="">Loại </label>
                  <select name="" id="Loai" class="form-control">
                      <option>Chọn Loại</option>
                      <option value="Iphone">Iphone</option>
                      <option value="Samsung">Samsung</option>
                  </select>
                  <span id="spanLoai" class="text-danger"></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <style>
    #container {
      min-width: 310px;
      max-width: 800px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  
  <script src="../models/SanPham.js"></script>
  <script src="../services/SanPhamService.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="../controllers/Validation.js"></script>
  <script src="../controllers/admin.js"></script>
</body>

</html>